<h1>Login</h1>

<li><a href="/login">Login!</a></li>
<li><a href="/register">Sign up!</a></li>
<li><a href="/logout">Logout!</a></li>


<form action="/login" method="POST">
  <input type="text" name="username" placeholder="username" />
  <input type="password" name="password" placeholder="password" />
  <button>Login</button>
</form>
