h1 {
  text-align: center;
}

table {
  margin: 0 auto;
  text-align: center;
  /*margin: auto;*/
}

td {
  width:  100px;
  height: 100px;
}

.vertical {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.horizontal {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
