h1 {
  text-align: center;
}

table {
  margin: 0 auto;
  text-align: center;
  /*margin: auto;*/
}

td {
  width:  100px;
  height: 100px;
}

td:hover {
  border: 1px solid grey;
}

.vertical {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.horizontal {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
