<% include partials/header %>

<h1>Campgrounds page</h1>

<a href="/campgrounds/new">Add new Campground</a>

<% campgrounds.forEach(function(campground) { %>
  <div>
    <h4><%= campground.name %></h4>
    <img src="<%= campground.image %>">
  </div>
<% }); %>

<% include partials/footer %>
